In [91]:
import pandas as pd

weather_df = pd.read_csv("./data/klarchiv_01975_daily_akt/produkt_klima_tag_20190904_20210306_01975.txt", 
                             delimiter=";", skipinitialspace=True, usecols=['TMK', 'RSK', 'SHK_TAG', 'SDK',  'MESS_DATUM'],
                        parse_dates=['MESS_DATUM'])
weather_df.rename(columns={'MESS_DATUM': 'date', 'RSK': 'precipitation', 'SDK': 'sun', 'SHK_TAG': 'snow', 'TMK': 'temparature'}, inplace=True)
weather_df.head()

        date  precipitation    sun  snow  temparature
0 2019-09-04            1.4  0.433     0         16.5
1 2019-09-05            6.3  4.517     0         13.3
2 2019-09-06            0.0  5.017     0         13.8
3 2019-09-07            0.2  6.750     0         14.0
4 2019-09-08            0.0  6.533     0         14.4

In [97]:
#pd.set_option('display.max_rows', 100)

incidence_df = pd.read_excel("./data/d-inzidenz-zum-download-service.xlsx", usecols=['Unnamed: 1', 'Unnamed: 2'])
incidence_df.drop([0], inplace=True)
incidence_df.rename(columns={'Unnamed: 1': 'date', 'Unnamed: 2': 'cumulative_incidence'}, inplace=True)

incidence_df.loc[[316], 'date'] = '2021-01-21 00:00:00'  # messed up date in row 316
incidence_df['date'] = pd.to_datetime(incidence_df['date'])

Empty DataFrame
Columns: [date, cumulative_incidence]
Index: []

In [105]:
mobility_df = pd.read_csv("./data/2020_DE_Region_Mobility_Report.csv")
mobility_df = mobility_df.loc[mobility_df['sub_region_1'] == "Hamburg"]
mobility_df.reset_index(drop=True, inplace=True)
mobility_df

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2020-02-15,6,2.0,51.0,10.0,1,-1
1,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2020-02-16,-2,9.0,-2.0,0.0,0,1
2,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2020-02-17,4,2.0,23.0,2.0,1,0
3,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2020-02-18,5,2.0,13.0,3.0,0,0
4,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2020-02-19,-2,-3.0,-9.0,-3.0,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2021-02-26,-51,6.0,44.0,-45.0,-37,15
378,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2021-02-27,-62,-3.0,16.0,-50.0,-17,9
379,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2021-02-28,-57,8.0,25.0,-46.0,-15,7
380,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2021-03-01,-43,2.0,68.0,-43.0,-41,14
381,DE,Germany,Hamburg,NaN,NaN,DE-HH,NaN,ChIJuRMYfoNhsUcR8HjYe_I9JgE,2021-03-02,-45,3.0,81.0,-42.0,-40,14