In [4]:
import pandas as pd

df = pd.read_csv("./produkt_klima_tag_20190826_20210225_01975.txt", delimiter=";")
df

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,1975,20190826,10,9.3,3.2,3,0.0,0,10.700,0,2.1,16.6,1017.88,25.0,54.71,32.1,18.7,16.9,eor
1,1975,20190827,10,23.8,2.6,3,39.4,6,7.750,0,3.0,19.8,1015.24,23.3,72.46,31.8,17.4,15.8,eor
2,1975,20190828,10,13.9,2.3,3,0.4,6,11.117,0,5.9,20.4,1011.69,24.3,69.63,32.2,18.7,17.0,eor
3,1975,20190829,10,9.6,2.9,3,2.2,6,5.317,0,5.0,18.7,1015.72,20.2,80.38,24.7,15.2,13.9,eor
4,1975,20190830,10,9.1,2.1,3,0.0,0,10.400,0,3.5,16.6,1020.16,19.1,76.92,24.6,13.8,11.7,eor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,1975,20210221,1,5.1,2.3,1,0.0,0,9.400,0,2.7,8.8,1013.57,9.4,76.46,17.4,4.2,-0.4,eor
546,1975,20210222,1,6.2,2.5,1,0.0,0,8.067,0,2.0,7.9,1017.60,10.3,65.21,18.9,2.0,-2.5,eor
547,1975,20210223,1,10.3,3.3,1,0.0,0,1.950,0,6.0,9.7,1026.28,11.7,69.96,17.2,5.9,1.1,eor
548,1975,20210224,1,13.5,4.9,1,0.0,0,9.117,0,6.0,10.2,1026.29,13.3,67.88,18.5,8.9,3.3,eor
549,1975,20210225,1,15.1,3.8,1,0.2,6,6.167,0,4.1,10.0,1023.47,11.1,76.63,17.2,6.5,2.5,eor